<div id="search-component">

    <label for="search-box">Hero Search</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
    <ul class="search-result">
      <li *ngFor="let hero of heroes$ | async" >
        <a routerLink="/detail/{{hero.id}}">
          {{hero.name}}
        </a>
      </li>
    </ul>
    <!--
    <input type="text"
        placeholder="Type the Hero Name"
        aria-label="Hero Search"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto">

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let hero of heroes$ | async" [value]="hero.name">
        {{hero.name}}
      </mat-option>
    </mat-autocomplete>
    -->
</div>